@model IEnumerable<BlogPost>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Post</a>
</p>



<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrevDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(@FormatacaoView.criarAttr(item.Title, 20));
                </td>
                <td>
                    @Html.Raw(@FormatacaoView.criarAttr(item.PrevDescription, 30));
                </td>
                <td>
                    @Html.Raw(@FormatacaoView.criarAttr(item.ShortDescription, 20));
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
